/*

Chat page styling

*/

.chat-wrapper {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999999999;
  background-color: transparent;

  .chat-total {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: calc(100% - 106px);
    position: fixed;
    top: 106px;
    background-color: $offwhite;
    overflow: hidden;

    .chat-total-title {
      display: none;
    }

    .chat-list {
      background-color: $offwhite;
      width: 100vw;

      .search-bar {

        width: calc(100% - 30px);
        margin: 0 auto;

        .searchContainer {
          display: inline-flex;
          flex: 1 1 300px;
          border: 0px solid $nav_unselected;
          font-size: 18px;
          width: 100%;
          margin-top: 15px;
          margin-bottom: 15px;

          ::-webkit-input-placeholder {
            color: $nav_unselected;
            font-size: 18px;
          }
        }

        .searchBox {
          border: 0;
          border-radius: 5px;
          box-shadow: 0px 5px 10px 0px rgba(170,170,170,1);
          background-color: $white;
          width: 100%;
        }

        .searchIcon {
          padding: 0.8rem;
          color: $nav_unselected;
          background-color: $white;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }


        .searchBox_inner {
          display: inline;
          border: 0;
          width: calc(100% - 70px);
        }

        .searchBox_inner:focus {
          outline: none;
        }
      }

      #chat_overview {
        padding: 15px;

        .item-list {

          .item-content {
            display: flex;
            border-radius: 5px;
            box-shadow: 0px 5px 15px 0px rgba(170, 170, 170, 1);
            margin-bottom: 15px;
            background-color: $white;

            .chat-avatar {
              width: 25%;
              height: auto;
              align-self: center;
              border-bottom-left-radius: 5px;
              border-top-left-radius: 5px;
            }

            .chat-right {
              color: $dark-color;
              padding: 10px;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;

              .chat-nametime {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                width: 100%;

                .chat-name {
                  font-weight: bold;
                  font-size: 20px;
                }

                .chat-time {
                  color: $nav_unselected;
                }
              }

              .chat-last-message-start {
                padding-top: 10px;
              }
            }
          }
        }
      }
    }
    .chat-detail {
      background-color: $offwhite;
      border-left: 1px solid $nav_unselected;
      width: 100vw;
      position: relative;

      .messages_container {

        .conversation-datetime {

        }

        .message {

        }

        .conversation-message-in{

          img {

          }

          .message-in {

          }
        }

        .conversation-message-out {

          .message-out {

          }
        }
      }

      .new_message_form {

        .new_message {
          
        }
      }
    }

    .chat_to_detail:hover{
      text-decoration: none;
    }
  }
}

@media (min-width: 768px) {
  .chat-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($dark-color, 0.7);

    .chat-total {
      position: static;
      width: calc(100% - 30px);
      height: calc(100% - 200px);
      max-width: 960px;
      border-radius: 5px;
      flex-wrap: wrap;
      align-items: stretch;
      align-content: flex-start;

      .chat-total-title {
        display: block;
        width: 100%;
        background-color: $white;
        border-bottom: 1px solid $nav_unselected;
        height: 70px;

        .content_title {
          font-size: 32px;
          color: $dark-color;
          font-weight: bold;
          max-width: 960px;
          padding-top: 20px;
          padding-left: 15px;
        }
      }

      .chat-list {
        flex: 0 0 40%;
        height: calc(100% - 70px);

        #chat_overview {
          padding: 15px;

          .item-list {

            .item-content {
              border-radius: 0px;
              box-shadow: none;
              background-color: transparent;
              border-bottom: 1px solid $nav_unselected;
              margin-bottom: 7.5px;
              padding-bottom: 7.5px;

              .chat-avatar {
                border-radius: 5px;
              }

              .chat-right {

                .chat-nametime {

                  .chat-name {
                  }

                  .chat-time {
                  }
                }

                .chat-last-message-start {
                }
              }
            }
          }
        }
      }

      .chat-detail {
        flex: 0 0 60%;
        height: calc(100% - 70px);
      }
    }
  }

  /* testknoppen */
  #test_to_detail, #test_to_list {
    display: none;
  }
}

