/*

HEADER STYLING

 */

header {

  background-color: $dark-color;
  padding: 15px;
  font-size: 22px;
  font-weight: bold;

  a {
    color: rgba($white, 0.5);
  }

  a:focus, a:hover {
    color: rgba($white, 1);
    text-decoration: none;
  }

  nav {


    .nav_right {


      .nav_chat {
        display: inline-block;

        a {

          p {
            display: none;
          }

          img {
            height: 30px;
          }
        }
      }

      .nav_profile {
        display: inline-block;
        float: right;

        a {

          p {
            display: none;
          }

          .profile_pic {
            height: 30px;
            width: 30px;
            background-size: cover;
            border-radius: 5px;
          }
        }
      }
    }

    .nav_left {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 335px;

      .nav_semestr {
        display: none;
      }

      .nav_aroundme {
        display: inline-block;
        padding-right: 15px;
      }

      .nav_crossings {
        display: inline-block;
        padding-right: 15px;
      }

      .nav_groups {
        display: inline-block;
      }
    }
  }

}


@media(max-width: 350px) {

  .nav_left_wrapper {
    width: calc(100vw - 30px);
  }

  .nav_left_wrapper:hover {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .nav_left_wrapper::-webkit-scrollbar {
    height: 6px;
  }


  .nav_left_wrapper::-webkit-scrollbar-track {
    background-color: rgba($white, 0.5);
    border-radius: 5px;
  }


  .nav_left_wrapper::-webkit-scrollbar-thumb {
    background: $white;
    border-radius: 5px;
  }
}

@media(min-width: 768px) {

  #header_wrapper {
    position: relative;
    z-index: 9999;
  }

  header {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    nav {


      .nav_right {
        display: block;
        float: right;
        position: relative;
        top: 3px;

        .nav_chat {
          padding-left: 10px;
          padding-right: 28px;
          padding-top: 14px;
          padding-bottom: 15px;
          margin-top: -10px;
          border-left: 1px solid rgba($white, 0.5);
          background-image: url('/img/triangle_down.png');
          background-size: 8px 6px;
          background-repeat: no-repeat;
          background-position: 95% 55%;

          a {
            display: flex;
            justify-content: center;
            align-items: center;

            p {
              display: block;
              color: $white;
              font-size: 14px;
              font-weight: normal;
              padding-left: 10px;
            }

            img {
            }
          }
        }

        .nav_profile {
          padding-left: 10px;
          padding-right: 33px;
          padding-top: 15px;
          padding-bottom: 14px;
          margin-top: -10px;
          margin-right: -15px;
          border-left: 1px solid rgba(255, 255, 255, 0.5);
          background-image: url(/img/triangle_down.png);
          background-size: 8px 6px;
          background-repeat: no-repeat;
          background-position: 85% 55%;


          a {
            display: flex;
            justify-content: center;
            align-items: center;

            p {
              display: block;
              color: $white;
              font-size: 14px;
              font-weight: normal;
              padding-right: 10px;
            }

            .profile_pic {
            }
          }
        }
      }

      .nav_left {
        width: 500px;

        .nav_semestr {
          display: inline-block;
          padding-right: 15px;
          position: relative;
          top: 5px;

          a {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              height: 22px;
              width: auto;
            }

            p {
              padding-left: 15px;
            }
          }
        }

        .nav_aroundme {
        }

        .nav_crossings {
        }

        .nav_groups {
        }
      }
    }
  }
}

/*  dropdowns  */

header {

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 0px;
    padding: 0px;
    border: 0px solid transparent;
  }

  #dropdown-menu-chat {
    width: calc(100% - 30px);
    position: absolute;
    left: 15px;
    top: 47px;

    a {
      display: flex;
      flex-direction: row;
      padding: 10px;
      border-bottom: 1px solid $nav_unselected;

      .chat-avatar{
        width: 30px;
        height: 30px;
        border-radius: 5px;
      }

      .chat-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 10px;
        width: 100%;

        .chat-nametime {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .chat-name {
            color: $dark-color;
            font-weight: bold;
            font-size: 14px;
          }

          .chat-time {
            color: $nav_unselected;
            font-size: 12px;
          }
        }

        .chat-last-message-start {
          color: $nav_selected;
          font-size: 12px;
          font-weight: normal;
        }
      }
    }

    .all-chats-link {
      color: $dark-color;
      font-weight: bold;
      font-size: 18px;
      padding-bottom: 8px;
    }

    .all-chats-link:before {
      position: absolute;
      font-family: 'FontAwesome';
      top: 158px;
      right: 20px;
      content: "\f105";
      font-size: 24px;
      color: $primary-color;
    }
  }

  #dropdown-menu-profile {
    width: calc(50% - 30px);
    position: absolute;
    left: calc(50% + 15px);
    top: 47px;

    a {
      color: $dark-color;
      font-weight: bold;
      font-size: 14px;
      padding: 10px;
      border-bottom: 1px solid $nav_unselected;
      text-align: center;
    }

    a:last-of-type {
      border-bottom: 1px solid transparent;
    }
  }
}

@media(min-width: 768px) {
  header {

    .dropdown-menu {
      display: flex;
      flex-direction: column;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      min-width: 0px;
      padding: 0px;
    }

    #dropdown-menu-chat {
      width: 232px;
      position: absolute;
      left: -110px;
      top: 47px;

      a {
        display: flex;
        flex-direction: row;
        padding: 10px;
        border-bottom: 1px solid $nav_unselected;

        .chat-avatar{
          width: 30px;
          height: 30px;
          border-radius: 5px;
        }

        .chat-right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-left: 10px;
          width: 100%;

          .chat-nametime {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .chat-name {
              color: $dark-color;
              font-weight: bold;
              font-size: 14px;
            }

            .chat-time {
              color: $nav_unselected;
              font-size: 12px;
            }
          }

          .chat-last-message-start {
            color: $nav_selected;
            font-size: 12px;
            font-weight: normal;
          }
        }
      }

      .all-chats-link {
        color: $dark-color;
        font-weight: bold;
        font-size: 18px;
        padding-bottom: 8px;
      }

      .all-chats-link:before {
        position: absolute;
        font-family: 'FontAwesome';
        top: 158px;
        right: 20px;
        content: "\f105";
        font-size: 24px;
        color: $primary-color;
      }
    }

    #dropdown-menu-profile {
      width: 116px;
      position: absolute;
      left: 120px;
      top: 47px;

      a {
        color: $dark-color;
        font-weight: bold;
        font-size: 14px;
        padding: 10px;
        border-bottom: 1px solid $nav_unselected;
      }

      a:last-of-type {
        border-bottom: 1px solid transparent;
      }
    }
  }

  .highlighted {
    background-color: $primary-color;
  }
}


