/*

HEADER STYLING

 */

header {

  overflow-x: hidden;
  overflow-y: hidden;

  margin-left: 15px;
  margin-right: 15px;

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  a, .navbar, .navbar-brand {
    background-color: transparent;
    border: none;
    font-size: 22px;
    font-weight: bold;
  }

  .navbar {
    min-width: 560px;
    margin-bottom: 0px;
  }

  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
    color: $nav_selected;
    background-color: transparent;
  }

  .navbar-nav, .navbar-header {
    float:left;
    margin: 0;
  }

  .container-fluid > .navbar-header {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar li {
    float: left;
  }

  .navbar li a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  a.navbar-brand {
    padding-left: 0px;
  }

  .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: $nav_unselected;
  }

  .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
    color: $primary-color;
  }

  .nav_profile_link {
    background-size: cover;
    margin: 10px 15px;
    padding-right: 0px;
  }
}

/* scrollbar when menu not totally visible */
@media(max-width: 560px) {
  header:hover {
    overflow-x: scroll;
  }

  /* width */
  header::-webkit-scrollbar {
    width: 20px;
    height: 8px;
    position: relative;
    top: -20px;
  }

  /* Track */
  header::-webkit-scrollbar-track {
    width: 90%;
    background: $hover-color;
    border-radius: 5px;
  }

  /* Handle */
  header::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 5px;
    width: 20px;
  }
}

@media(min-width: 560px) {
  .navbar-nav {
    overflow: auto;
    width: calc(100% - 75px);
  }

  .navbar li.nav_profile {
    float: right;
  }
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }
}

