/*

HEADER STYLING

 */

header {

  background-color: $dark-color;
  color: $white;
  padding: 15px;

  nav {


    .nav_right {


      .nav_chat {
        display: inline-block;

        a {

          p {
            display: none;
          }

          img {
            height: 30px;
          }
        }
      }

      .nav_profile {
        display: inline-block;
        float: right;

        a {

          p {
            display: none;
          }

          .profile_pic {
            height: 30px;
            width: 30px;
            background-size: cover;
            border-radius: 5px;
          }
        }
      }
    }

    .nav_left {

    }
  }

}







/*

header {

  overflow-x: hidden;
  overflow-y: hidden;

  margin-left: 15px;
  margin-right: 15px;

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  a, .navbar, .navbar-brand {
    background-color: transparent;
    border: none;
    font-size: 22px;
    font-weight: bold;
  }

  .navbar {
    min-width: 525px;
    margin-bottom: 0px;
  }

  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
    color: $nav_selected;
    background-color: transparent;
  }

  .navbar-nav, .navbar-header {
    float:left;
    margin: 0;
  }

  .container-fluid > .navbar-header {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar li {
    float: left;
  }

  .navbar li a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  a.navbar-brand {
    padding-left: 0px;
  }

  .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: $nav_unselected;
  }

  .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
    color: $primary-color;
  }

  .nav_profile_link {
    background-size: cover;
    margin: 10px 15px;
    padding-right: 0px;
  }
}


@media(max-width: 560px) {
  header:hover {
    overflow-x: scroll;
  }


  header::-webkit-scrollbar {
    height: 6px;
  }


  header::-webkit-scrollbar-track {
    background: $hover-color;
    border-radius: 5px;
  }


  header::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 5px;
  }
}

@media(min-width: 560px) {
  .navbar-nav {
    overflow: auto;
    width: calc(100% - 75px);
  }

  .navbar li.nav_profile {
    float: right;
  }
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }
}

*/
