/*

LOGIN STYLING

*/

.login_page_wrapper {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

.login_page_wrapper:after {
  content: "";
  display: block;
  background-attachment: fixed;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba( $dark-color, .7 );
  top:0; left:0;
  z-index:-1;
}

.login_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  label {
    display: none;
  }

  .main_logo {
    display: block;
    max-width: 200px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
    height: auto;
  }

  .login-page-center {
    width: calc(100% - 30px);
    max-width: 420px;
    flex: 3;
  }

  .form-group {
    margin-bottom: 0;
  }

  input {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    border-radius: $border-radius-extra;
  }

  #email_login {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  #password_login {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .form-control {
    height: inherit;
  }

 .btn-primary {
   width: 100%;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 15px;
   margin-bottom: 15px;
   background-color: $primary-color;
   font-weight: bold;
   font-size: 18px;
   border-radius: $border-radius-extra;
 }

  .fb-login-intro {
    color: $white;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
  }

  .fb-login-intro:before,
  .fb-login-intro:after {
    background-color: $white;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  .fb-login-intro:before {
    right: 0.5em;
    margin-left: -50%;
  }
  .fb-login-intro:after {
    left: 0.5em;
    margin-right: -50%;
  }

  .login-to-signup {
    color: $white;
    position: relative;
    top: 0px;
    text-align: center;

    a {
      color: $primary-color;
    }

    a:hover {
      text-decoration: none;
      font-weight: bold;
      color: $header-color;
    }
  }
}

