/*

profile page styling

*/


.profile_page {
  background-color: $offwhite;

  .cover_image{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .crossings_map {
    position: absolute;
    top: 100px;
    z-index: 10;
    width: 100%;
    height: calc(100vh - 100px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .change-image {
    position: absolute;
    font-size: 24px;
    background-color: rgba($primary-color, 0.5);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .change-cover_image {
    top: 125px;
    right: 20px;
  }

  .change-profile_image {
    top: 85px;
  }

  .delete-image {
    position: relative;
    width: 20px;
    height: 20px;
    font-size: 14px;
    top: -50px;
    left: 3px;
  }

  .profile_page_content {
    position: relative;
    top: -120px;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;

    .upper_section {
      display: flex;
      flex-direction: column;
      align-items: center;

      .profile_image {
        order: 1;
        display: block;
        width: 150px;
        height: 150px;
        margin:0 auto;
        border-radius: $border-radius-normal;
        box-shadow: $box-shadow;
      }

      .user_name {
        order: 2;
        color: $dark-color;
        font-size: 28px;
        font-weight: bold;
        padding: 15px 15px;
      }

      .user_introtext {
        order: 3;
        color: $nav_selected;
        font-size: 14px;
        text-align: center;
        padding: 0px 30px;
        line-height: 1.2em;
      }

      .buttons {
        order: 4;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 15px 0px;

        .button-wrapper {
          width: calc(50% - 15px);
          box-sizing: border-box;
          margin-right: 15px;

          .button {

            box-sizing: border-box;
            margin: 0 auto;
            padding: 0px;
            display: flex;
            align-items: center;
            background-color: $white;
            border-radius: $border-radius-normal;
            box-shadow: $box-shadow;
            margin-top: 15px;
            margin-bottom: 15px;
            position: relative;
            text-decoration: none;
            cursor: pointer;

            .icon {
              background-size: 20px 20px;
              background-repeat: no-repeat;
              background-position: center;
              background-color: $primary-color;
              width: 40px;
              height: 40px;
              padding: 10px;
              box-sizing: border-box;
              border-top-left-radius: $border-radius-normal;
              border-bottom-left-radius: $border-radius-normal;
            }

            .add-friend-icon {background-image: url('/img/add_friend.png');}
            .friend-icon {background-image: url('/img/checkmark.png');}
            .message-icon {background-image: url('/img/Chat.png');}
            .crossings-quantity-icon {background-image: url('/img/Crossings.png');}
            .crossings-location-icon {background-image: url('/img/Crossings.png');}
            .edit-profile-icon {background-image: url('/img/Edit_icon_White.png');}

            p {
              display: block;
              font-size: 16px;
              font-weight: bold;
              padding-left: 10px;
              padding-right: 10px;
              color: $dark-color;
            }
          }
        }

        .crossings-quantity-button-wrapper, .crossings-location-button-wrapper {
          width: 100%;

          .button {
            margin-top: 0px;
            margin-bottom: 10px;

            p {
              padding-right: 30px;
            }
          }
        }

        .crossings-location-button-wrapper {
          .button:before {
            position: absolute;
            font-family: 'FontAwesome';
            top: 6px;
            right: 20px;
            content: "\f105";
            font-size: 24px;
            color: $primary-color;
          }
        }

        .subtext {
          color: $nav_unselected;
          font-size: 12px;
          text-align: center;
          padding: 0px 30px;
          display: block;
          width: 100%;
        }

        .crossings-hide-map-button-wrapper {
          width: 50%;
          position: absolute;
          top: -130px;
          z-index: 30;

          .button {
            height: 40px;
            padding: 10px;

            p {
              padding-left: 30px;
            }
          }

          .button:before {
            position: absolute;
            font-family: 'FontAwesome';
            top: 6px;
            left: 20px;
            content: "\f104";
            font-size: 24px;
            color: $primary-color;
          }
        }

        .edit-profile-button-wrapper {

          .button {

            p {
              color: $error-red;
            }

            .icon {
              background-color: $error-red;
            }
          }
        }
      }
    }

    .section_title {
      font-family: MetropolisHeavy;
      font-size: 28px;
      color: $dark-color;
      padding-bottom: 15px;
    }

    .image-uploadzone-wrapper {
      display: none;
    }

    .photo-uploads {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      a:link,
      a:visited,
      a:hover,
      a:active,
      a:focus {
        text-decoration: none;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: $border-radius-normal;
        background-color: $white;
        font-size: 18px;
        font-weight: bold;
        color: $primary-color;
        box-shadow: $box-shadow;
        transition: all 0.3s ease-in-out;
        display: block;
        width: 100%;
        text-align: center;
      }

      a:hover {
        background-color: $primary-color;
        color: $white;
      }

      a:link.disabled,
      a:visited.disabled,
      a:hover.disabled,
      a:active.disabled,
      a:focus.disabled {
        display: none;
      }
    }

    .image-uploadzone {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      #addphotos {
        width: 100%;
      }

      a:link,
      a:visited,
      a:hover,
      a:active,
      a:focus {
        text-decoration: none;
        padding: 15px;
        margin-top: 10px;
        border-radius: $border-radius-normal;
        background-color: $white;
        font-size: 18px;
        font-weight: bold;
        color: $primary-color;
        box-shadow: $box-shadow;
        transition: all 0.3s ease-in-out;
        display: block;
        width: 50%;
        float: right;
        text-align: center;
      }

      a:hover {
        background-color: $primary-color;
        color: $white;
      }
    }

    .photos_section {
      padding: 15px 0px;

      .photo_collection {
        padding-top: 15px;
        border-radius: $border-radius-normal;
        display: flex;

        div > a > img {
          width: 50px;
          height: 50px;
        }

        div:first-of-type {
          a > img {
            border-top-left-radius: $border-radius-normal;
            border-bottom-left-radius: $border-radius-normal;
          }

        }

        div:last-of-type {
          a > img {
            border-top-right-radius: $border-radius-normal;
            border-bottom-right-radius: $border-radius-normal;
          }
        }
      }
    }

    .aboutme_section {
      padding: 15px 0px;

      .aboutme_subsection {
        margin-top: 15px;
        background-color: $white;
        border-radius: $border-radius-extra;
        box-shadow: $box-shadow;
        font-weight: bold;
        color: $dark-color;
        font-size: 16px;


        .subsection_title {
          border-bottom: 1px solid rgba($nav_unselected, 0.5);
          padding: 10px;
        }

        .aboutme_item {
          padding: 10px 10px 0px 10px;


          .item_label  {
            color: $nav_unselected;
            font-size: 12px;
            font-weight: normal;
          }

          input, select {
            border: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
          }
        }

        .aboutme_item:last-of-type {
          padding: 10px;
        }

        .social_item a,
        .social_item a:link,
        .social_item a:visited,
        .social_item a:hover,
        .social_item a:active,
        .social_item a:focus {
          display: flex;
          align-items: center;
          text-decoration: none;

          .item_label {
            font-weight: bold;
            color: $dark-color;
            font-size: 16px;
            padding-left: 10px;
          }

          i {
            color: $nav_unselected;
            font-size: 30px;
          }
        }
      }
    }

    .interests_section {
      padding: 15px 0px;

      .interests {
        margin-left: -5px;
      }

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-top: 10px;

        li {
          border: 1px solid $primary-color;
          border-radius: $border-radius-normal;
          color: $primary-color;
          padding: 8px;
          margin: 8px;
          cursor: pointer;
          font-size: 20px;
        }

        li.selected {
          background-color: $primary-color;
          color: $white;
        }
      }
    }

    .block_user {
      padding: 15px 0px;

      p {
        color: $nav_unselected;
        text-align: center;
        a {
          color: $nav_unselected;
          text-decoration: underline;
        }
      }
    }

    .hidden {
      display: none;
    }
  }

  .pop-up {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($dark-color, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;

    .pop-up-inner {
      width: calc(100% - 30px);
      max-width: 320px;
      margin: 0 auto;
      border-radius: $border-radius-normal;
      background-color: $white;

      h4 {
        font-weight: bold;
        font-size: 18px;
        color: $dark-color;
        border-bottom: 1px solid rgba($nav_unselected, 0.5);
        padding: 10px;
      }

      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 1.2;
        color: $dark-color;
        padding: 10px;
      }

      .buttons {
        display: flex;
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        text-align: center;


        a {
          width: 50%;
          padding-top: 10px;
          padding-bottom: 10px;
        }

        a.preferred {
          background-color: $primary-color;
          color: $white;
        }

        a.not-preferred {
          background-color: $nav_unselected;
          color: $dark-color;
        }

        a:first-of-type {
          border-bottom-left-radius: $border-radius-normal;
        }

        a:last-of-type {
          border-bottom-right-radius: $border-radius-normal;
        }

        a:hover,
        a:focus {
          text-decoration: none;
        }
      }
    }
  }
}


/* desktop */
@media(min-width: 768px) {
  .profile_page {

    .cover_image{
      height: 350px;
      position: relative;
      top: -60px;
    }

    .crossings_map {
      height: 350px;
      position: fixed;
      top: 0px;
      z-index: 0;
    }

    .change-cover_image {
      top: 75px;
      right: 20px;
    }

    .change-profile_image {
      top: 15px;
      left: 25px;
    }

    .delete-image {
      top: -78px;
      left: 3px;
    }

    .profile_page_content {
      position: relative;
      top: -150px;

      .upper_section {
        display: block;


        .profile_image {
          margin: 0px;
          float: left;
        }

        .user_name {
          display: block;
          float: left;
          width: calc(100% - 150px);
          color: $white;
          font-weight: bold;
          padding-left: 30px;
          padding-top: 50px;
        }

        .user_introtext {
          order: 10;
          text-align: left;
          max-width: 70%;
          padding-left: 0;
        }

        .buttons {
          width: calc(100% - 150px);
          align-items: flex-start;
          padding-left: 15px;

          .button-wrapper {
            width: calc(25% - 15px);

            .button {
              margin-top: 0px;
            }
          }

          .crossings-quantity-button-wrapper, .crossings-location-button-wrapper, .crossings-hide-map-button-wrapper {
            width: 50%;
            margin-right: 0;
          }

          .subtext {
            text-align: right;
            padding-right: 0;
          }

          .crossings-hide-map-button-wrapper {
            position: static;

            .button {

              p {

              }
            }
          }
        }
      }

      .section_title {
        font-size: 32px;
      }

      .photo-uploads {
        display: flex;
        flex-wrap: nowrap;
        width: 50%;

        a:link,
        a:visited,
        a:hover,
        a:active,
        a:focus {
          text-decoration: none;
          padding: 15px;
          margin-bottom: 10px;
          border-radius: $border-radius-normal;
          background-color: $white;
          font-size: 18px;
          font-weight: bold;
          color: $primary-color;
          box-shadow: $box-shadow;
          transition: all 0.3s ease-in-out;
          display: block;
          width: 50%;
          text-align: center;
        }

        a:hover {
          background-color: $primary-color;
          color: $white;
        }

        a:first-of-type {
          margin-right: 15px;
        }
      }

      .photos_section {

        .photo_collection {

          div > a > img {
            width: 80px;
            height: 80px;
          }
        }
      }

      .aboutme_section {

        .aboutme_section_inner {
          display: flex;
        }

        .aboutme_subsection {
          width: calc(33.333% - 10px);
          box-sizing: border-box;
          margin-right: 15px;
        }

        .aboutme_subsection:last-of-type {
          margin-right: 0px;
        }
      }
    }
  }
}

@media(min-width: 990px) {
  .profile_page_content {
    padding: 0px;
  }
}