/*

profile page styling

 */


.profile_page {

  .cover_image{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .upper_section {


    .profile_image {

    }

    .user_name {

    }

    .user_introtext {

    }

    .buttons {

      .button-wrapper {

      }
    }
  }

  .aboutme_section {

  }

  .hidden {
    display: none;
  }
}


/* desktop */
@media(min-width: 768px) {
  .profile_page {

    .cover_image{
      height: 350px;
      position: fixed;
      top: 0px;
    }

    .upper_section {
      position: fixed;
      top: 350px;

      .profile_image {

      }

      .user_name {

      }

      .user_introtext {

      }

      .buttons {

        .button-wrapper {

        }
      }
    }

    .aboutme_section {

    }

    .hidden {
      display: none;
    }
  }
}