/*

school page styling

*/

.school_page {
  background-color: $offwhite;

  .cover_image{
    width: 100%;
    height: 250px;
    background-image: url('/img/cover_image_default.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .school_page_content {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;

    .upper_section {
      display: flex;
      flex-direction: column;
      align-items: center;

      .school_name {
        color: $dark-color;
        font-size: 28px;
        font-weight: bold;
        padding: 30px 15px;
        text-align: center;
      }
    }

    .school-list-toggle {

      ul {
        display: flex;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0px 5px 15px 0px rgba(170, 170, 170, 1);
        cursor: pointer;

        li {
          flex: 1;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          color: $dark-color;
          background-color: $white;
          padding: 15px;
        }

        li.active {
          color: $white;
          background-color: $primary-color;
        }

        li:first-of-type {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }

        li:last-of-type {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }

    .school_introtext {
      color: $nav_selected;
      font-size: 14px;
      text-align: center;
      padding: 30px 30px 20px 30px;
      line-height: 1.2em;
    }

    .button-wrapper {
      width: 100%;
      box-sizing: border-box;

      .button {

        box-sizing: border-box;
        margin: 0 auto;
        padding: 0px;
        display: flex;
        align-items: center;
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0px 5px 15px 0px rgba(170, 170, 170, 1);
        margin-top: 15px;
        margin-bottom: 15px;
        position: relative;
        text-decoration: none;
        cursor: pointer;

        .icon {
          background-size: 20px 20px;
          background-repeat: no-repeat;
          background-position: center;
          background-color: $primary-color;
          width: 40px;
          height: 40px;
          padding: 10px;
          box-sizing: border-box;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }

        .member-icon {background-image: url('/img/memberlist.png');}

        p {
          display: block;
          font-size: 16px;
          font-weight: bold;
          padding-left: 10px;
          padding-right: 10px;
          color: $dark-color;
        }
      }
    }
  }
}


/* desktop */
@media(min-width: 768px) {
  .school_page {

    .cover_image {
      height: 350px;
      position: relative;
      top: -60px;
    }

    .school_page_content {
      position: relative;
      top: -60px;

      .upper_section {

        .school_name {

        }
      }
    }
  }
}