/*

SIGNUP STYLING

*/


#email_register, #password_register {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#password_register, #password_repeat_register {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#firstname_register {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#lastname_register {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.error1 {
  background-color: rgba($error-red, 0.5);
  color: rgba($white, 0.5);
  padding: 15px;
  border: 1px solid $error-red;
  border-radius: 10px;
}
