
// Colors
$primary-color: #0048d9;
$header-color: #618fec;
$hover-color: #e2ebfe;
$white: #ffffff;
$black: #000000;

$nav_unselected: #aaaaaa;
$nav_selected: #333333;


// Typography
/*
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
*/


